$icon-font-path: '../fonts/';


@font-face{ 
  font-family: 'bentham';
  src: url('../fonts/bentham-webfont.eot');
  src: url('../fonts/bentham-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bentham-webfont.woff') format('woff'),
       url('../fonts/bentham-webfont.ttf') format('truetype'),
       url('../fonts/bentham-webfont.svg#webfont') format('svg');
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// ::-webkit-scrollbar { 
//     display: none; 
// }

body{
  background-color: #47698A;
  display: block;
  font-family: 'bentham', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

a, a:hover, a:visited, a:active{
  color: inherit;
}

/*Background wizady*/
.margin-box {
  height: 100vh;
}

#bg{  
  position: relative;

  background-image: url('../images/bg_w320.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  // background-attachment: fixed;

  @media (max-width: 600px) { 
    height: 2349px;

    background-image: url('../images/bg_w600.jpg');
  }

  @media (max-width: 800px) { 
    height: 2349px;
    background-image: url('../images/bg_w800.jpg');
  }

  @media (min-width:801px) and (max-width: 1200px) { 
    height: 3523px;
    background-image: url('../images/bg_w1200.jpg');
  }
  
  @media (min-width: 1201px) and (max-width: 1600px) { 
    height: 4698px;
    background-image: url('../images/bg_w1600.jpg');    
  }

  @media (min-width: 1601px) { 
    height: 5872px;
    background-image: url('../images/bg_w2000.jpg');
  }

  color: white;

}

.container{
  padding-top: 50px;
  padding-bottom: 50px;
}

#section1{
  background-color: green;
  background-image: url('../images/bg1.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#section2{
  height:50vh;
  background-image: url('../images/bg2.jpg');
  background-color: orange;
  // background-attachment: fixed;

}

#section3{
  background-image: url('../images/bg3.jpg');
  height: 50vh;
}

.text {
  background-image: url('../images/paper_bg.jpg');
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  z-index: 10;

  -webkit-box-shadow: 0px 0px 47px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 47px 30px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 47px 30px rgba(0,0,0,0.75);
}

/* Logo */

#logo{
  margin-left: auto;
  margin-right: auto;

  img {
    max-width: 100%;
  }
}

h3 {
  text-align: center;
  margin-bottom: 40px;
  // margin-top: 100px;
}

#tekijat ul{
  list-style: none;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

  li b{
    padding-top: 10px;
  }
}




