$icon-font-path: '../fonts/';


@font-face{
  font-family: 'eaves-roman';
  src: url('../fonts/Mrs-Eaves-OT-Roman.ttf') format('truetype');
}

// bower:scss
// endbower

// ::-webkit-scrollbar {
//     display: none;
// }

body{
  background-color: #000;
  display: block;
  font-family: 'eaves-roman', serif;
  color: #eee;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

a, a:hover, a:visited, a:active{
  color: inherit;
}

h3 {
  font-family: 'eaves-roman';
  text-align: center;
  font-size: 45px;
  letter-spacing: 3px;
  margin-bottom: 40px;
  margin-top: 0px;
  span{
    font-size: 55px;
  }
}



#section1{ background-image: url('../images/bg1.jpg'); }
#section2{ background-image: url('../images/bg2.jpg'); }
#section3{ background-image: url('../images/bg3.jpg'); }
#section4{ background-image: url('../images/bg4.jpg'); }
#section5{ background-image: url('../images/bg6.jpg'); }
#section6{ background-image: url('../images/bg5.jpg'); }

#menu-holder{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
}

#menu{
  margin: auto;
  width: 90vw;
  padding-top: 10px;
  padding-left:15px;
  text-align: left;
  font-size: 22px;
}

.menu-item{
  float: left;
  padding-top: 15px;
  height: 45px;
  margin: 0 15px 0 15px;
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;;
  }
  img{
    height: 45px;
    margin-top: -15px
  }
  span{
    margin: 0 30px 0 0;
  }
}

.right{
  float: right;

  span{
    margin: 0 0 0 30px;
  }
}

@media (max-width: 1659px){
  #menu{
    width: 95vw;
  }

  .menu-item{
    margin: 0 6px 0 6px;
    span{
      margin: 0 12px 0 0;
    }
  }

  .right{
    span{
      margin: 0 0 0 12px;
    }
  }
}

#menu-mobile{
  display: none;

  .logo-mobile img{
    float: left;
    height: 35px;
    margin: 12px 8px 8px 8px;
  }

  select{
    float: right;
    height: 35px;
    margin: 10px 3vw 10px 0;
    background-color: #000;
    color: #eee;
  }
}

@media (max-width: 1279px){
  #menu{
    display: none;
  }
  #menu-mobile{
    display: block;
  }
}



#fp-nav ul li a span{
  background-color: #eee !important;
}

@media (max-width: 600px){
  #fp-nav{
    display: none;
  }

  body{
    font-size: 16px;
  }

  h3{
    font-size: 24px;
    span{
      font-size: 28px;
    }
  }

}

.shop-btn{
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
}

.shop-btn-holder{
  margin-top: 50px;
}

.section{
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media( max-width: 991px){
  .characters p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .characters h3{
    margin-top: 100px;
  }
}

@media (min-width: 801px) and (max-width: 1200px){
  .characters h3{
    margin-top: 70px;
  }
}

@media (min-width: 1201px){
  .characters h3{
    margin-top: 110px;
  }
}


/* Logo */

#logo{
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

#synopsis {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 20px;
}

#esitykset ul {
  padding-left: 0;
  list-style: none;
}

#section4{
  overflow-y: scroll;
}

#characters{
  padding-top: 150px;
}

.hahmo{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 95vw;
  margin: auto;
}

@media (min-width: 866px){
  .hahmo{
    width: 800px;
  }

  .face-left{
    float: left;
    margin-right: 25px;
  }

  .face-right{
    float: right;
    margin-left: 25px;
  }

  .desc-right{
    width: 800px;
    text-align: left;
    h3{
      text-align: left;
    }
  }

  .desc-left{
    width: 800px;
    text-align: left;
    h3{
      text-align: left;
    }
  }
}

#section5{
  overflow-y: scroll;
}

#esitykset{
  padding-top: 60px;
}

#speksi{
  padding-top: 60px;
  max-width: 900px;
}

@media (max-width: 920px) {
  #speksi{
    max-width: 90vw;
  }
}

#people{
  padding-top: 150px;
  margin: auto;
  max-width: 1200px;
  width: 51vw;
}

#people ul {
  list-style: none;
  padding-left: 0px;
  .col{
    float: left;
    width: 17vw;
  }
}

@media (max-width: 866px){
  #people{
    width: 90vw;
  }

  #people ul {
    .col{
      width: 30vw;
    }
  }
}

#corp{
  padding-top: 150px;
  width: 80vw;
  margin: auto;
}

.text-center{
  max-width: 90vw;
  margin: auto;
}
