$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// ::-webkit-scrollbar { 
//     display: none; 
// }

body{
  display: block;
}



/*Background wizady*/
.margin-box {
  height: 100vh;
}

#bg{  
  height: 11779px;
  background-image: url('../images/bg_w320.jpg');
  background-repeat: no-repeat;
  background-position: center top;

  @media (max-width: 600px) { 
    height: 2349;
    background-image: url('../images/bg_w600.jpg');
  }

  @media (max-width: 800px) { 
    height: 2349;
    background-image: url('../images/bg_w800.jpg');
  }

  @media (min-width:801px) and (max-width: 1200px) { 
    height: 3523px;
    background-image: url('../images/bg_w1200.jpg');
  }
  
  @media (min-width: 1201px) and (max-width: 1600px) { 
    height: 4698px;
    background-image: url('../images/bg_w1600.jpg');    
  }

  @media (min-width: 1601px) { 
    height: 5872px;
    background-image: url('../images/bg_w2000.jpg');
  }

}

